In [1]:
# Task - Question 4
# Replace "DeRusha, Joe" Name with "John" in D Column

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data.csv')

In [4]:
data

,Emp ID,Region,Name,Supplier Name,Harmonized Supplier Name,Department,Month,Year,Sales,Discounts,Date
0,10001,East,"DeRusha, Joe",Dell,NaN,5255-Data/Connectivity Sales,Jan,FY13,100000,25000,24-01-2023
1,10002,East,"De Pasquale, Richard",Dell Inc,NaN,5256-Sales Mgt & Support,Jan,FY13,150000,30000,1/1/2023
2,10003,East,"Dobbert, Susan",Dell Ltd,NaN,5257-Auto Sales,Jan,FY13,200000,35000,1/8/2023
3,10001,East,"DeRusha, Joe",ABBGroup,NaN,5255-Data/Connectivity Sales,Jan,FY13,100000,25000,1/28/2023
4,10002,East,"De Pasquale, Richard",Google India,NaN,5256-Sales Mgt & Support,Jan,FY13,150000,30000,1/21/2023
5,10003,East,"Dobbert, Susan",DHL,NaN,5257-Auto Sales,Jan,FY13,200000,35000,1/23/2023
6,10005,West,"Dunton, Donna",Google USA,NaN,5259-Sales Channel,Jan,FY13,300000,45000,1/14/2023
7,10007,West,"De Sousa, Kristi",DHL Ltd,NaN,5263-Sales Support,Jan,FY13,400000,55000,28-01-2023
8,10004,East,"Dillard, Susan",ABB,NaN,5258-IAP Sales,Jan,FY13,250000,40000,1/28/2023
9,10005,West,"Dunton, Donna",Office Supplies,NaN,5259-Sales Channel,Jan,FY13,300000,45000,1/21/2023
10,10006,West,"De Vries, John",Dell USA,NaN,5262-Auto GM,Jan,FY13,350000,50000,1/23/2023
11,10007,West,"De Sousa, Kristi",Ericson,NaN,5263-Sales Support,Jan,FY13,400000,55000,1/14/2023
12,10008,West,"Defonso, Daniel",Ericson USA,NaN,5264-ARD Sales,Jan,FY13,450000,60000,28-01-2023

In [5]:
data['Name'] = data['Name'].replace('DeRusha, Joe', 'John')

In [6]:
data

,Emp ID,Region,Name,Supplier Name,Harmonized Supplier Name,Department,Month,Year,Sales,Discounts,Date
0,10001,East,John,Dell,NaN,5255-Data/Connectivity Sales,Jan,FY13,100000,25000,24-01-2023
1,10002,East,"De Pasquale, Richard",Dell Inc,NaN,5256-Sales Mgt & Support,Jan,FY13,150000,30000,1/1/2023
2,10003,East,"Dobbert, Susan",Dell Ltd,NaN,5257-Auto Sales,Jan,FY13,200000,35000,1/8/2023
3,10001,East,John,ABBGroup,NaN,5255-Data/Connectivity Sales,Jan,FY13,100000,25000,1/28/2023
4,10002,East,"De Pasquale, Richard",Google India,NaN,5256-Sales Mgt & Support,Jan,FY13,150000,30000,1/21/2023
5,10003,East,"Dobbert, Susan",DHL,NaN,5257-Auto Sales,Jan,FY13,200000,35000,1/23/2023
6,10005,West,"Dunton, Donna",Google USA,NaN,5259-Sales Channel,Jan,FY13,300000,45000,1/14/2023
7,10007,West,"De Sousa, Kristi",DHL Ltd,NaN,5263-Sales Support,Jan,FY13,400000,55000,28-01-2023
8,10004,East,"Dillard, Susan",ABB,NaN,5258-IAP Sales,Jan,FY13,250000,40000,1/28/2023
9,10005,West,"Dunton, Donna",Office Supplies,NaN,5259-Sales Channel,Jan,FY13,300000,45000,1/21/2023
10,10006,West,"De Vries, John",Dell USA,NaN,5262-Auto GM,Jan,FY13,350000,50000,1/23/2023
11,10007,West,"De Sousa, Kristi",Ericson,NaN,5263-Sales Support,Jan,FY13,400000,55000,1/14/2023
12,10008,West,"Defonso, Daniel",Ericson USA,NaN,5264-ARD Sales,Jan,FY13,450000,60000,28-01-2023